name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust-version: [1.82.0, stable]
    runs-on: ${{ matrix.os }}
    name: Test (${{ matrix.rust-version }} on ${{ matrix.os }})

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install rustup
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            echo "$USERPROFILE/.cargo/bin" >> $GITHUB_PATH
          else
            echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          fi
          if ! command -v rustup &> /dev/null; then
            if [ "$RUNNER_OS" == "Windows" ]; then
              curl --proto '=https' --tlsv1.2 -sSf https://win.rustup.rs/x86_64 -o rustup-init.exe
              ./rustup-init.exe -y --default-toolchain none
              echo "$USERPROFILE/.cargo/bin" >> $GITHUB_PATH
            else
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain none
              echo "$HOME/.cargo/bin" >> $GITHUB_PATH
            fi
          else
            echo "rustup is already installed"
          fi

      - name: Setup Rust toolchain
        shell: bash
        run: |
          rustup toolchain install ${{ matrix.rust-version }}
          rustup default ${{ matrix.rust-version }}

      - name: Run tests
        run: cargo test --all-features